body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Quicksand', sans-serif;
  }
  
  .pagina2-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    text-align: center;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .fundo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  
  .caixinhas-decorativas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
    pointer-events: none;
  }
  
  .caixa-aberta-container {
    position: relative;
    width: 80vw;
    max-width: 900px;
    z-index: 3;
  }
  
  .caixa-aberta {
    width: 100%;
    display: block;
  }
  
  .mensagem-cartinha {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    max-height: 50%;
    overflow-y: auto;
    font-size: clamp(0.75rem, 2vw, 1rem);
    color: #000000;
    z-index: 4;
    text-align: center;
    padding: 5px;
  }
  
  .mensagem-cartinha h2 {
    font-weight: 600;
    color: #4a7ea8;
  }
  
  .mensagem-cartinha p {
    font-weight: 400;
    line-height: 1,6;
  }
  