# Sistema operacional
.DS_Store        # macOS
Thumbs.db        # Windows

.vscode/
*.code-workspace

# Node.js (usando npm para instalar Bootstrap ou outras libs)
node_modules/

# Arquivos de build ou dist
dist/
build/

# Cache
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# SASS/LESS (se usar pré-processadores)
*.sass-cache/
*.scssc/
*.map

# Arquivos temporários
*.tmp
*.swp
*.bak

# Git backups ou merges
*.orig

# Arquivos de ambiente (se tiver)
.env
.env.local
.env.*.local
